.NavBar{
    padding-top: 12px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    height: 94px;
    width: 100%;
    transition: 1s;
}

.toggle-icon{
    display: none;
}
.drop-down-icon{
    display: none;        
}
.n-text{
    display: none;
}
.Logo{
    margin-left: 20px;
    margin-top: 10px;
    width: 125px;
    height: 32px;
}
#Request-Link{
    display: none;
}


.NavBar-left-section{
    flex:1;
    display: block;
}
.NavBar-right-section{
    display: inline-block;
}
.NavBar-Link{
    font-size: 18px;
    font-weight: 500;
    color: white;
    text-decoration: none;
    margin: 6px;
    display: inline-block;
}
.NavBar-right-section button{
    font-size: 12px;
    margin-left: 20px;
    margin-right: 9px;
    margin-top: 9px;
    margin-bottom: 9px;
    color:var(--colours-spatch-100, #7622dd);
    font-style: normal;
    font-weight: 600;
    background:#FFF;
    width: 130px;
    height:38px;
    font-weight: 600;
    border-radius: 8px;
    border-style: none;
    margin-right: 20px;
}
#register-btn{
    display: none;
}



@media (max-width:600px){    


   .NavBar-right-section {
        position: absolute;
        height: 630px;
        top:-1000%;
        background-color: white;
   }

    .active #navbar{
             top:55px;
   }


    .NavBar{
    margin-top: 0;
   }

    .NavBar .toggle-icon {

    }
    


    #btn{
        font-size: 60px;
        margin-left: 20px;
        margin-right: 9px;
        margin-top: 6px;
        margin-bottom: 9px;
        font-weight: 600;
        font-family: 'TT Commons';
        background:#FFF;
        width: 260px;
        height:98px;
        margin-left: 0;
        text-align: left;
        padding-left: 0;
    }


    #Request-Link{
        font-size: 48px;
        font-weight: 600px;
    }

    #navbar{
        flex-direction: column;
        transition: 2s;
    }
    #navbar .NavBar-Link{
        margin-top: 10px;
        font-size:55px;
        font-weight: 700;
        color:#777F8C;

    } 

    #logo{
        margin-left: 10px;
        width: 100px;
        height: 32px;

    }


    #navbar .NavBar-right-section{
        padding: 0;
        padding-left: 0;
        padding-top: 55px;
        display: flex;
        width: 100%;
        flex-direction: column;
    }

    #navbar .drop-down-icon{
        display: flex;
    
    }
    .n-text{
        display: inherit;
    }
    
    #navbar .drop-down-icon img{
        display: flex;
        width:35px;    
        margin-right: 15px;    
    }
    #navbar .n-area{
        padding-top:50px;
    }
    #navbar .n-text{
        font-size: 13px;
        color:#777F8C;  
    }


    #navbar #Request-Link{
        color:#6609d8;
        margin-top: 100px;
    }


    #navbar .NavLink-container{
            width: 100%;
    }
    
    #navbar .toggle-icon {
        position: absolute;
        top:.75rem;
        right:1rem;
        display: inline-block;
        margin-top: 9px;
        margin-left: 0;
        cursor: pointer;

        top:27.92px;
        right:8rem;
        display: flex;
        align-self: top;
        cursor: pointer;
    }

    #register-btn{
        position: absolute;
        width: 100px;
        height: 50px;
        flex-shrink: 0;
        display: inline-block;
        color:#6609d8;
        background-color: #FFF;
        border-radius: 5px;
        border-style: none;

        margin-top: 9px;
        margin-left: 0;
        padding-top: 13px;
        padding-left: 20px;

        top:17.92px;
        right:1rem;
        text-align: center;
        display: flex;
        align-self: top;

        color: var(--colours-spatch-100, #7000F6);
        text-align: center;
        font-feature-settings: 'clig' off, 'liga' off;

        /* Subhead - Bold */
        font-family: TT Commons;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 20px; /* 111.111% */
    }

  

}